astred[parsers]
boto3
cupy-cuda12x
Cython
fairseq
filelock
sacremoses
gdown
git+https://github.com/BramVanroy/awesome-align.git@astred_compat
jupyterlab
mcerp
numpy
pandas
pysub-parser
requests
scipy
sentencepiece
tabulate
tokenizers>=0.5.2
torch>=1.2.0
transliterate
tqdm
