astred[stanza]
boto3
cupy-cuda12x
Cython
fairseq
filelock
sacremoses
gdown
gensim
git+https://github.com/BramVanroy/awesome-align.git@astred_compat
jenkspy
jupyterlab
mcerp
numpy
pandas
pysub-parser
requests
scipy
sentencepiece
svgling
tabulate
tokenizers>=0.5.2
torch>=1.2.0
transliterate
tqdm
